name: Build, Test, and Release

on:
  push:
    paths-ignore: "**.md"
  workflow_dispatch:

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'holster'

      - name: Set up Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            extra-experimental-features = nix-command flakes ca-derivations
            download-buffer-size = 524288000

      - name: Set up Cachix
        uses: cachix/cachix-action@v14
        with:
          name: indigo
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        continue-on-error: true

      - name: Update ghc-wasm-meta input
        run: nix flake lock --update-input ghc-wasm-meta

      - name: Build with Nix
        run: nix build .#indigo

      - name: Run tests
        run: |
          nix develop --command bash -c "cabal update && cabal test all"
        continue-on-error: false

      - name: Upload executable artifact
        uses: actions/upload-artifact@v4
        with:
          name: indigo-executable
          path: result/bin/indigo
          retention-days: 1

  build_native_release:
    name: Build Native Release
    runs-on: ubuntu-latest
    needs: build_and_test
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'holster'

      - name: Set up Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            extra-experimental-features = nix-command flakes ca-derivations
            download-buffer-size = 524288000

      - name: Set up Cachix
        uses: cachix/cachix-action@v14
        with:
          name: indigo
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        continue-on-error: true

      - name: Build with Nix
        run: nix build .#indigo

      - name: Prepare native release directory
        run: |
          mkdir -p indigo-latest
          cp result/bin/indigo indigo-latest/
          chmod +x indigo-latest/indigo
          cp -r share/std indigo-latest

      - name: Zip native release
        run: zip -r indigo-release-latest.zip indigo-latest/*

      - name: Upload native release artifact
        uses: actions/upload-artifact@v4
        with:
          name: indigo-native-release
          path: indigo-release-latest.zip
          retention-days: 1

  build_wasm:
    name: Build WASM Reactor
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'holster'

      - name: Set up Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            extra-experimental-features = nix-command flakes ca-derivations impure-derivations
            download-buffer-size = 524288000 

      - name: Set up Cachix
        uses: cachix/cachix-action@v14
        with:
          name: indigo
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        continue-on-error: true

      - name: Update ghc-wasm-meta input
        run: nix flake lock --update-input ghc-wasm-meta

      - name: Build WASM reactor with Nix
        run: nix build .#build-wasm-reactor --extra-experimental-features "nix-command flakes ca-derivations impure-derivations"

      - name: Prepare WASM release
        run: |
          mkdir -p indigo-wasm-latest
          cp result/indigo-init.wasm indigo-wasm-latest/indigo-init.wasm
          cp -r share/std indigo-wasm-latest/

      - name: Zip WASM release
        run: zip -r indigo-wasm-latest.zip indigo-wasm-latest/*

      - name: Upload WASM release artifact
        uses: actions/upload-artifact@v4
        with:
          name: indigo-wasm-release
          path: indigo-wasm-latest.zip
          retention-days: 1

  release:
    name: Create Releases
    runs-on: ubuntu-latest
    needs: [build_native_release, build_wasm]
    steps:
      - name: Download native release artifact
        uses: actions/download-artifact@v4
        with:
          name: indigo-native-release

      - name: Download WASM release artifact
        uses: actions/download-artifact@v4
        with:
          name: indigo-wasm-release

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Upload WASM zip to Google Cloud Storage
        run: |
          gcloud storage cp indigo-wasm-latest.zip gs://indigolang/indigo-wasm-latest.zip

      - uses: dev-drprasad/delete-older-releases@v0.3.2
        with:
          keep_latest: 3
          delete_tag_pattern: latest-.+
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release (Native)
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }}
          tag_name: latest-${{ github.sha }}
          draft: false
          prerelease: false
          generate_release_notes: false
          files: indigo-release-latest.zip

      - name: Release (WASM)
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }}
          tag_name: latest-${{ github.sha }}
          draft: false
          prerelease: false
          generate_release_notes: false
          files: indigo-wasm-latest.zip
